@media (min-width: 550px) {
  body {
    display: none;
  }
}
* {
  list-style: none;
  text-decoration-line: none !important;
  box-sizing: border-box;
}

@keyframes navlink {
  from {
    transform: scale(1.1);
    transform: rotate(1deg);
  }
  to {
    transform: rotate(1);
  }
}

section > .navbar {
  padding-bottom: 60px;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar .collapse.navbar-collapse {
  animation: navlink 0.6s;
  transition: all linear 0.4s;
  /* background-color: #f8f9fa; */
  margin: 5px;
  margin-bottom: -50px;
}

a {
  color: rgb(32, 32, 32);
}
.link_nav {
  color: rgb(219, 219, 219);
}

.link_act {
  color: rgb(240, 240, 240);
}

.bungkus {
  position: relative;
}

.bungkus img {
  vertical-align: middle;
}

.bungkus .title-img {
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4));
  color: #f1f1f1;
  width: 100%;
  text-shadow: 2px 6px 10px blue;
  box-shadow: -0px -10px 7px rgba(0, 0, 0, 0.38);
  padding: 15px 13px 5px 10px;
}

.loading {
  margin-top: 230px !important;
}

.card-text {
  margin-top: -20px;
}

.science {
  color: #d90df0;
  border-color: #d90df0;
}

.entertaiment {
  color: #7e1bff;
  border-color: #7e1bff;
}

div.load {
  margin-top: -200px;
}

.card {
  max-width: 500px;
  margin: auto !important;
  margin-bottom: 1.3rem !important;
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

.error {
  margin-top: -150px !important;
}

.homeNav {
  /* margin-top: -50px; */
  height: 90px;
}

.navbra {
  display: block !important;
  margin-left: auto !important;
  margin-right: auto !important;
  /* width: 50% !important; */
  width: 50%;
}

.home-container {
  padding-top: 0px !important;
}

.start-fade {
  transform: translateY(-50px);
  opacity: 0;
}

.end-fade {
  transition: all linear 1s;
  /* transform: translateY(0); */
  opacity: 1;
}

.footer-brand {
  position: relative;
  margin-top: -50px;
}

.service {
  margin-left: 5px;
  margin-top: -30px !important;
}

.support {
  margin-bottom: 40px;
  font-size: 22px;
  letter-spacing: 1px;
  margin-top: 40px !important;
  margin-top: -25px !important;
}

.service p {
  margin-top: -20px;
  color: #f1f1f1;
}

.form-label {
  margin-top: -50px;
  font-size: 22px;
}

.subscribe {
  margin-left: 20px;
}

.name {
  text-decoration: underline;
}
