* {
  list-style: none;
  text-decoration-line: none !important;
  box-sizing: border-box;
}
a {
  color: rgb(32, 32, 32);
}
.link_nav {
  color: rgb(219, 219, 219);
}

.link_act {
  color: rgb(240, 240, 240);
}

.bungkus {
  position: relative;
}

.bungkus img {
  vertical-align: middle;
}

.bungkus .title-img {
  position: absolute;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.4));
  color: #f1f1f1;
  width: 100%;
  text-shadow: 2px 6px 10px blue;
  box-shadow: -0px -10px 7px rgba(0, 0, 0, 0.38);
  padding: 15px 13px 5px 10px;
}
